.btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 100px;
}

.btn-outline {
    border: 3px solid white;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: .2s ease-in-out;

    &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.2);
    }

    &:active {
        transform: scale(0.95);
    }
}